[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# task management
invoke = "*"
# test
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
hypothesis = "*"
coverage = {extras = ["toml"], version = "*"}
# style
black = "==19.10b0"
isort = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
# security
bandit = "*"
# git
commitizen = "*"
pre-commit = "*"
# documentation
mkdocs = "*"
mkdocs-material = "*"

[packages]
click = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
