謹致 {{ receiver_name }},

我是 PyCon TW 2021 贊助組志工 {{ sender_name }}，冒昧打擾也感謝您的閱讀。

PyCon TW 為 臺灣 Python 使用者最大的技術研討會，每年聚集 700＋以上使用 Python 處理資料科學、人工智慧、後端等軟體工程師，今年是 PyCon 十週年，我們將在 8/21 - 22 於台灣大學博雅館盛大舉行，提供業者與資訊人才交流的平台，在此想邀請貴公司/單位與我們洽談合作的可能性。

Python 軟體基金會 (Python Software Foundation, PSF) 是一非營利組織，擴大 Python 使用群眾並提供使用者交流平台是我們的宗旨。截至今日，全球已有 47 個國家自主成立官方 Python Conference 社群 ( https://www.python.org/psf/trademarks/pycon/  )。

臺灣亦在 2012 年正式成立 PyCon Taiwan 年會，每年參加者約77%有 python 使用經驗，以工程師為主 (52%)，另外還有資料分析師 (11%)、學生 (9%)、主管 (8%)等與會，Python 的使用族群十分廣泛可見斑。

2020 年我們移師到台南舉辦年會，雖然很冒險，但仍吸引 400 位 以上的開發者出席，也感謝國泰、微軟、趨勢、InfuseAI、iCHEF、Appier、中國信託、玉山銀行等企業支持，足以證明 PyCon TW 號召力。

今年 PyCon TW 十週年，為此，我們將進行許多慶祝活動，也持續活化台灣各地的 Python 社群。

以下為提供您參考的贊助書詳情連結 https://tw.pycon.org/2021/zh-hant/sponsor/prospectus
如對贊助內容有任何想法，都請您不吝隨時來電或來信指教。

祝 事業蒸蒸日上，事事順心

{{ sender_team }}
{{ sender_name }}