<html><body>
(Mandarin Version Below 中文版在下方)<br>

<br>Hi {{ receiver_name }},<br>

<p>我是 PyCon TW 議程組的  {{ sender }}。首先再次感謝您參與本次的議程審稿，隨著 Call for Proposal 截止，我們馬上就要在 4 月 16 日 (AoE) 開始進行審稿。</p>

<p>為了讓審稿過程更順利，以下整理一個簡短版的審稿注意事項：</p>
<ul>
<li>評分時給予建設性的回饋，以如何將一份投稿變的更好為方向，使之於修改階段時擁有參考價值，並讓投稿者有所成長，對 PyCon TW
 來說也是一個長期社群的培養。</li>
<li>請站在投稿者的角度，參考<a href="https://tw.pycon.org/2022/zh-hant/speaking/talk/">《如何投稿》</a>裡投稿的好主意與壞主意作主要評斷，並根據對應的難易度來審稿。</li>
<li>若投稿者選擇英文演講，請使用英文進行審稿回覆。</li>
<li>即使匿名，請尊重投稿者並遵守大會的<a href="https://tw.pycon.org/2022/zh-hant/about/code-of-conduct/">行為準則</a>。</li>
</ul>
<p>如果您有對於以上或任何其他關於審稿的問題，請直接詢問我們！</p>


<p><img src="cid:pyapac_review.png" width="400px"></p>

<p>Best regards,<br>
{{ sender }}<br>
{{ team }}<br></p>
</body></html>
